logging:
  level:
    com:
      primlook:
        memester:
          infrastructure:
            facebook:
              service:
                UploadService: DEBUG


feign:
  client:
    config:
      default:
        loggerLevel: full

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/spring_social
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
      javax:
        persistence:
          schema-generation:
            scripts:
              action: create
              create-target: create.sql
            create-source: metadata
    generate-ddl: true
  security:
    oauth2:
      client:
        registration:
          facebook:
            clientId: 494772858017736
            clientSecret: c1f2f852df329eb9a4944642c14e0c20
            redirect-uri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
              - user_photos
        provider:
          facebook:
            authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
            tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
            userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,middle_name,last_name,name,email,verified,is_verified,picture.width(250).height(250)

app:
  auth:
    tokenSecret: 926D96C90030DD58429D2751AC1BDBBC
    tokenExpirationMsec: 864000000
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - http://localhost:3000/oauth2/redirect
      - myandroidapp://oauth2/redirect
      - myiosapp://oauth2/redirect